<nav class="navbar navbar-expand-lg navbar-light bg-blue ">
   <div class="container-fluid ">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse " id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item s3">
           <a class="nav-link active s2" aria-current="page" href="#">Base Info</a>
         </li>
         <li class="nav-item s3">
            <a class="nav-link active s2"  routerLink="/dashboard/contact_info" >Contact Info</a>
          </li>
         <li class="nav-item s3">
           <a class="nav-link s2" href="#">Company Info</a>
         </li>
         <li class="nav-item s3">
           <a class="nav-link s2" href="#">Policy</a>
         </li>
         <li class="nav-item s3">
            <a class="nav-link s2" href="#">Bank</a>
          </li>
          <li class="nav-item s3">
            <a class="nav-link s2" href="#">Entity</a>
          </li>
          <li class="nav-item s3">
            <a class="nav-link s2" href="#">Personal Info</a>
          </li>
          <li class="nav-item s3">
            <a class="nav-link s2" href="#">Family Details</a>
          </li>
          <li class="nav-item s3">
            <a class="nav-link s2" href="#">Skill ans Work Experience</a>
          </li>
          <li class="nav-item s3">
            <a class="nav-link s2" href="#">Document</a>
          </li>
       </ul>
     </div>
   </div>
 </nav>