nav{
    background-color: #124e85;
}
.nl{
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}
.dc{
    color:black;
    font-weight: 600;
    font-size: 15px;
}
.admin{
    width: 47px;
    color: #fff;
}