<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <i class="bi bi-list nl"></i>
    <a class="navbar-brand nl" href="#">HoverCreaft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle bg-light dc" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     Default
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item dc" href="#">Default</a></li>
      <li><a class="dropdown-item dc" href="#">Dark</a></li>
      <li><a class="dropdown-item dc" href="#">Cosmic</a></li>
      <li><a class="dropdown-item dc" href="#">Corporate</a></li>
    </ul>
  </div>
    <div class="collapse navbar-collapse " id="navbarNav ">
      <ul class="navbar-nav ">
        <img src="/assets/admin.png" class="admin" alt="">
        <li class="nav-item">
         <a class="nav-link nl" href="#">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>