<app-header></app-header>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class=" col-md-4 col-xl-2 px-sm-2 " style="background-color: #ffffff;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item border-bottom">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="bi bi-house-door   side2"></i> <span class="ms-1 d-none d-sm-inline side">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="bi bi-inbox  side2"></i> <span class="ms-1 d-none d-sm-inline side">Task</span>
                        </a>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-person-fill  side2"></i> <span class="ms-1 d-none d-sm-inline side">Candidate Onboarding</span> </a>
                        <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">List Offers</span> </a>
                            </li>
                            <li >
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Give Offers</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-people-fill  side2"></i> <span class="ms-1 d-none d-sm-inline side">Employee</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">View</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Add</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-check-all  side2"></i> <span class="ms-1 d-none d-sm-inline side">Attendance Policy</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">View</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Add</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-person-dash-fill  side2"></i> <span class="ms-1 d-none d-sm-inline side">Leave Policy</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">View</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Add</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-calendar3  side2"></i> <span class="ms-1 d-none d-sm-inline side">Holiday List</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">View</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Add</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-bag-check  side2"></i><span class="ms-1 d-none d-sm-inline side">Attendance</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">History</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-bookmark  side2"></i> <span class="ms-1 d-none d-sm-inline side">Leave</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Application History</span> </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Transaction History</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="bi bi-megaphone-fill  side2"></i> <span class="ms-1 d-none d-sm-inline side">Announcement</span></a>
                    </li>
                    <li class=" border-bottom">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="bi bi-pencil-square  side2"></i> <span class="ms-1 d-none d-sm-inline side">Anonymous Feedback</span></a>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-ticket  side2"></i> <span class="ms-1 d-none d-sm-inline side">Ticket</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">History</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-box-arrow-left  side2"></i> <span class="ms-1 d-none d-sm-inline side">Exit Request</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">History</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class=" border-bottom">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="bi bi-stack  side2"></i> <span class="ms-1 d-none d-sm-inline side">Master Data</span> </a>
                    </li>
                    <li class=" border-bottom">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="bi bi-gear-fill side2"></i> <span class="ms-1 d-none d-sm-inline side">Setting</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Company Account</span></a>
                            </li>
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline side">Reset Password</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div>
