<div class="container-fluid" style="background: #111B28; height: 100vh;">
    
    <div id="login-form">
        <div id="login-head">
             <h1>Log.In</h1>
        </div>
   <div id="login-details">
        <form action="" >
             
             <div id="user">
              <label for="email">Email</label>
                 <input type="text" name="name" placeholder="Email">
        </div>
        
        <div id="pass">
          <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        </div>
        <a routerLink="forgot_password" class="la" style="text-decoration: none;">Forget Password ?</a>
        
        <div id="submit">
        <input type="submit" value="Log-In">
             </div>
        </form>

   </div>


</div>

<!-- ya hakibo -->
</div>